@import '../global';

.nav {
  position: relative;
  display: flex;
  align-items: center;

  &__menu {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    border: 1px solid $white;
    border-radius: 0.5em;
    transition: 0.5s ease-in-out all;
    flex-direction: column;
    overflow: hidden;

    @include md {
      position: static;
      background-color: transparent;
      border: none;
      border-radius: 0;
      transition: none;
      display: flex;
      flex-direction: row;
      align-self: stretch;
    }

    &--shown {
      display: flex;
    }

    a {
      background-color: rgba(0, 0, 0, 0.2);
      display: block;
      padding: 1em 2em;
      color: $white;
      text-align: center;
      transition: background-color 0.1s ease-in;

      @include md {
        background-color: transparent;
        font-size: 1.1em;
        padding: 0 1em;
        height: 100%;
        color: $gray;
        border-bottom: none;
        transition: color 0.3s ease-in;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 50%;
          left: 50%;
          height: 1px;
          background-color: $gray;
          transition: all 0.3s linear;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);

        @include md {
          background-color: transparent;
          color: $white;

          &::after {
            background-color: $white;
            right: 1em;
            left: 1em;
          }
        }
      }
    }

    li:not(:last-of-type) a {
      border-bottom: 1px solid $white;
    }
  }

  &__btn {
    background-color: transparent;
    color: $white;
    border: none;
    outline: none;
  }

  &__menu-btn {
    background-color: transparent;
    color: $white;
    border: none;
    outline: none;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      display: none;
    }
  }
}
