@import '../global';

.container {
  position: relative;
  margin-right: 1em;
}

.menu {
  position: absolute;
  right: 0;
  top: 120%;
  display: none;
  border: 1px solid $white;
  border-radius: 0.5em;
  transition: 0.5s ease-in-out all;
  flex-direction: column;
  overflow: hidden;

  @include md {
    position: static;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: none;
    display: flex;
    flex-direction: row;
    align-self: stretch;
  }

  &--shown {
    display: flex;
  }

  a {
    background-color: rgba($black, 0.5);
    backdrop-filter: blur(10px);
    display: block;
    padding: 1em 2em;
    color: $white;
    text-align: center;
    transition: background-color 0.1s ease-in;

    @include md {
      background-color: transparent;
      font-size: 1.1em;
      padding: 0 1em;
      height: 100%;
      color: $gray;
      border-bottom: none;
      transition: color 0.3s ease-in;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 50%;
        left: 50%;
        height: 1px;
        background-color: $gray;
        transition: all 0.3s linear;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);

      @include md {
        background-color: transparent;
        color: $white;

        &::after {
          background-color: $white;
          right: 1em;
          left: 1em;
        }
      }
    }
  }

  li:not(:last-of-type) a {
    border-bottom: 1px solid $white;
  }
}

.btn {
  background-color: transparent;
  color: $white;
  font-size: 1.5em;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }

  @include md {
    display: none;
  }
}
