@import '../../global';

.about {
  text-align: center;

  &__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;

    @include md {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__img {
    font-size: 3em;

    @include md {
      font-size: 6em;
    }

    @include lg {
      font-size: 7em;
    }
  }

  &__cv {
    color: $gray;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;

    svg {
      font-size: 0.9rem;
      margin-left: 0.5em;
    }

    &:hover,
    &:focus {
      color: $blue10;
      background-color: $shadow;
      outline: none;
    }
  }
}
