@import '../../global';

.contact {
  &__grid {
    text-align: center;

    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: center;
    }
  }

  &__links {
    padding: 1rem;
  }

  &__icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.5em;

    a {
      $size: 50px;
      font-size: 2em;
      color: $blue10;
      width: $size;
      height: $size;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.2);
        outline: none;
      }

      @include md {
        font-size: 1.5em;
      }
    }
  }
}
