@import '../../global';

.experience {
  &__timeline {
    position: relative;
    border: 1px solid $blue10;
    margin: 6em 0;

    @include md {
      margin: 4em 0 8em;
    }
  }

  &__pointer {
    position: absolute;
    bottom: 0;
    right: 0;

    svg {
      font-size: 2em;
    }
  }
}

.job {
  $size: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid $blue10;
  border-radius: 50%;
  background-color: $white;
  width: $size;
  height: $size;

  &__container {
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;

    img {
      width: 75%;
    }
  }

  &__time {
    position: absolute;
    width: max-content;
    font-size: 0.75em;
    font-weight: bold;
    bottom: 100%;
    text-align: center;
    max-width: 6rem;

    @include md {
      max-width: none;
    }
  }

  &__tooltip {
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 150%;
    background-color: $blue10;
    color: $white;
    width: max-content;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    h3 {
      text-align: center;
      font-size: 1em;
      margin: 0 0 0.5em;
    }

    h4 {
      text-align: center;
      font-size: 0.75em;
      margin: 0 0 0.5em;
    }

    ul {
      font-size: 0.6em;
      padding-left: 1em;
    }

    h4,
    ul {
      display: none;
      @include md {
        display: block;
      }
    }
  }

  &__info {
    position: relative;
    max-height: 120px;
    padding: 1em;

    &::before {
      content: '';
      position: absolute;
      border-color: transparent transparent $blue10;
      border-style: solid;
      border-width: 0 8px 8px;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include md {
    &__tooltip {
      opacity: 0;
    }

    &__container:hover &__tooltip {
      opacity: 1;
    }
  }
}
