@import '../../global';

.projects {
  overflow: hidden;
}

.project {
  text-align: center;
  margin: 2em 0;

  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info image';
    align-items: center;

    &:nth-child(even) {
      grid-template-areas: 'image info';
    }
  }

  &__info {
    @include lg {
      grid-area: info;
      padding: 2em;
      display: flex;
      justify-content: center;
    }
  }

  &__glass {
    padding: 1em;

    @include glass;
  }

  &__technologies {
    font-size: 2.8em;

    svg {
      margin: 0 0.1em;
    }
  }

  &__link {
    display: inline-block;
    font-size: 0.9em;
    color: $gray;
    margin: 0 0.1em;
    border-radius: 5px;
    padding: 0.5em;
    transition: 0.3s ease;

    &:hover,
    &:focus-within {
      color: $white;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__img {
    grid-area: image;
    margin: 1em 0;

    span {
      overflow: visible !important;
    }

    img {
      display: block;
      width: 90%;
      margin: 0 auto;

      @include lg {
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
