@import '../../global';

.services__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service {
  position: relative;
  background-color: $blue10;
  color: $white;
  border-radius: 8px;
  text-align: center;
  margin-top: 4em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  &__header {
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
    background-color: $white;
    color: $blue10;
    border: 2px solid $blue10;
    border-radius: 8px;
    padding: 0.75em;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5em;
    }
  }

  &__title {
    font-size: 1em;
    margin: 0;
    flex-grow: 1;
  }

  &__main {
    font-size: 0.8em;
    padding: 3em 1em 1em;
  }

  &__detail {
    svg {
      margin-right: 0.2em;
    }
  }
}
