/* Colors */
$blue10: hsl(240, 100%, 10%);
$blue20: hsl(240, 100%, 20%);

$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 50%);
$white: hsl(0, 0%, 100%);

$blue: hsl(204, 70%, 53%);
$yellow: hsl(60, 100%, 50%);
$shadow: hsla(0, 0%, 0%, 0.2);

$success: green;
$error: red;

/* Fonts */
$primary-font: Lato, sans-serif;

/* Gradients */
$hero-gradient: linear-gradient(30deg, $blue10, $blue20);

/* Patterns */
$wiggle: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
