@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './global';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $primary-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  padding: 3em 2em;

  @include md {
    font-size: 1.25em;
  }

  &--light {
    background: shadow-cross(), $white;
    color: $blue10;
  }

  &__title {
    text-align: center;
    font-size: 1.5em;
  }
}
